nav {
    height: var(--nav_height);
    width: var(--main_width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: var(--button_padding);
    background-color: transparent;
    margin: auto;
}

footer {
    height: var(--footer_height);
    width: var(--main_width);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin: auto;
}

footer > a {
    font-family: "Regular";
    font-size: calc(var(--button_font_size) * 0.85);
    color: var(--color_main);
    text-decoration: none;
    
    &:hover { text-decoration: underline;}
}

main {
    width: var(--main_width);
    margin: auto;
    min-height: calc(100vh - var(--nav_height) - var(--footer_height));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(1em, 4vmin, 3em);
    background-color: var(--color_bg);
    position: relative;
    padding-block: 1em;
}

.board {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}

.board > .board_borders_svg {
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-color: transparent;
    
    fill: none;
    stroke: var(--color_main);
    stroke-width: var(--cell_border_width);
    
    --dash: 111;
    stroke-dasharray: var(--dash); 
    stroke-dashoffset: var(--dash); 
    
    animation: cell_border_animation var(--transition_duration_medium) forwards ease-in-out;
}

@keyframes cell_border_animation {
    to { 
        stroke-dashoffset: 0; 
    }
}


.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--cell_width);
    aspect-ratio: 1;
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
}

/* Add fancy border radiuses */
.cell:nth-child(1) { border-top-left-radius: var(--cell_border_radius); }
.cell:nth-child(3) { border-top-right-radius: var(--cell_border_radius); }
.cell:nth-child(7) { border-bottom-left-radius: var(--cell_border_radius); }
.cell:nth-child(9) { border-bottom-right-radius: var(--cell_border_radius); }


/* X and O marks */
.cell > :is(.cross_svg, .circle_svg) {
    position: absolute;
    fill: none;
    stroke: var(--color_main);
    stroke-width: var(--mark_thickness);
    width: var(--mark_size);
    aspect-ratio: 1;
    pointer-events: none;

    transition:
        stroke var(--transition_duration_fast), 
        stroke-dashoffset var(--transition_duration_fast);
}

/* Disable the cursor for the marked cells */
.cell:is(.cross, .circle) { cursor: not-allowed; }


/* X marks */
.cell > .cross_svg { 
    stroke-dasharray: var(--stroke_dash_X); 
    stroke-dashoffset: var(--stroke_dash_X); 
}
.cell.cross > .cross_svg { 
    stroke-dashoffset: 0; 
}


/* O marks */
.cell > .circle_svg { 
    stroke-dasharray: var(--stroke_dash_O); 
    stroke-dashoffset: var(--stroke_dash_O); 
}
.cell.circle > .circle_svg { 
    stroke-dashoffset: 0; 
}


.cell.cross > .circle_svg { display: none; } /* Remove the circle in the cross cell */
.cell.circle > .cross_svg { display: none; } /* Remove the cross in the circle cell */


/* Winning state */
.cell.won_cell { 
    background-color: var(--color_main); 
    transition: background-color var(--transition_duration_medium);
}

.cell.won_cell > :is(.circle_svg, .cross_svg) { 
    stroke: var(--color_bg);
}


/* Animations for the winner mark */
.cell.won_cell > .circle_svg { 
    animation: O_winning_animation var(--transition_duration_fast) ease-in-out forwards;
}
.cell.won_cell > .cross_svg { 
    animation: X_winning_animation var(--transition_duration_fast) ease-in-out forwards;
}

@keyframes O_winning_animation {
    from { stroke-dashoffset: var(--stroke_dash_O); }
}
@keyframes X_winning_animation {
    from { stroke-dashoffset: var(--stroke_dash_X); }
}


/* Winning message */
.winning_message {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
    position: absolute;
    inset: 0;
    background-color: var(--color_bg);
    border: var(--button_border);
    border-color: var(--color_main);
    border-radius: var(--cell_border_radius);

    opacity: 0;
    transform: translateX(-3%);
}

.winning_message:is(.show_draw, .cross, .circle) {
    opacity: 1;
    transform: translateX(0);

    transition-property: opacity, transform;
    transition-duration: var(--transition_duration_fast);
    transition-delay: var(--transition_duration_medium);
}

.winning_mark_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vmin;
}

.winning_mark_container > :is(.circle_svg, .cross_svg) {
    fill: none;
    stroke: var(--color_main);
    stroke-width: var(--mark_thickness);
    width: var(--mark_size);
    aspect-ratio: 1;
    pointer-events: none;
}


/* Display the correct mark for the winner */
.winning_message.cross > .winning_mark_container > .circle_svg { display: none; }
.winning_message.circle > .winning_mark_container > .cross_svg { display: none; }

.winning_message > h1 {
    font-family: "Extrabold";
    font-size: var(--winning_message_heading_size);
    color: var(--color_main);
    line-height: 1;
}

.winning_message > p {
    font-family: "Medium";
    font-size: calc(var(--winning_message_heading_size) * 0.25);
    color: var(--color_main);
}

/* Continue reminder animation */
.winning_message:is(.show_draw, .cross, .circle) > p {
    animation: continue_reminder ease-in-out var(--transition_duration_fast);
    animation-delay: calc(var(--transition_duration_medium) * 3);
}

@keyframes continue_reminder {
    30% { transform: rotate(20deg); }
    70% { transform: rotate(-20deg); }
}


/* Restart button */
.restart_button {
    padding: var(--button_padding);
    background-color: var(--color_sub);
    outline: none;
    border: var(--button_border);
    border-radius: var(--button_border_radius);
    font-family: "Medium";
    font-size: var(--button_font_size);
    color: var(--color_main);
    cursor: pointer;
    width: calc(var(--cell_width) * 3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    transition: box-shadow var(--transition_duration_fast);
}

.restart_button > svg {
    fill: var(--color_main);
    width: var(--button_font_size);
    aspect-ratio: 1;
}

.restart_button.restart_clicked > svg {
    animation: restart_clicked var(--transition_duration_medium) forwards;
}

@keyframes restart_clicked {
    to { rotate: 360deg; }
}


/* Player details on the top of the board */
.top_details {
    width: calc(var(--cell_width) * 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: cneter;
    gap: 1.5vmin;
    position: relative;
}

.custom_select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0.5em;
    position: relative;
}

.custom_select > svg {
    fill: var(--color_main);
    width: calc(var(--button_font_size) * 0.7);
    position: absolute;
    right: clamp(1em, 2vmin, 2.6em);
    pointer-events: none;
}

.mode_selection {
    width: 100%;
    padding: var(--button_padding);
    background-color: var(--color_sub);
    outline: none;
    border: var(--button_border);
    border-radius: var(--button_border_radius);
    cursor: pointer;
    font-family: "Medium";
    font-size: var(--button_font_size);
    color: var(--color_main);

    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */

    transition: box-shadow var(--transition_duration_fast);
}

/* Hide default arrow in IE/Edge */
.mode_selection::-ms-expand { 
    display: none;
}


.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.5vmin;
}

.score_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 0.5em;
    padding: var(--button_padding);
    background-color: var(--color_sub);
    outline: none;
    border: var(--button_border);
    border-radius: var(--button_border_radius);
    cursor: pointer;

    transition: box-shadow var(--transition_duration_fast);
}

.score_button.active_turn {
    box-shadow: var(--button_box_shadow_offset) var(--color_main);
}

.score_button.score_button_disabled { cursor: not-allowed; }

.score_button > svg {
    fill: none;
    stroke: var(--color_main);
    stroke-width: calc(var(--mark_thickness) * 1.4);
    width: calc(var(--button_font_size) * 1.3);
    aspect-ratio: 1;
}

.score_button > p {
    font-family: "Extrabold";
    font-size: var(--button_font_size);
    color: var(--color_main);
}


/* Button for toggling themes */
.theme_button {
    padding: var(--button_padding);
    background-color: var(--color_sub);
    outline: none;
    border: var(--button_border);
    border-radius: var(--button_border_radius);
    font-family: "Medium";
    font-size: var(--button_font_size);
    color: var(--color_main);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--button_font_size);

    transition: box-shadow var(--transition_duration_fast);
}

.theme_button > svg {
    fill: var(--color_main);
    width: var(--button_font_size);
    aspect-ratio: 1;
}


/* Sound button */
.sound_button {
    background-color: var(--color_sub);
    outline: none;
    border: var(--button_border);
    border-radius: 50%;
    aspect-ratio: 1;
    padding: clamp(0.5em, 0.8vmin, 1.5em);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    transition: box-shadow var(--transition_duration_fast);
}

.sound_button > svg {
    fill: var(--color_main);
    width: calc(var(--button_font_size) * 1.8);
}

/* Sound enabled condition */
.sound_button > svg > line {
    stroke: var(--color_main);
    stroke-width: 2;
    fill: none;

    --sound_stroke_dash: 30;
    stroke-dasharray: var(--sound_stroke_dash);
    stroke-dashoffset: var(--sound_stroke_dash);

    transition: stroke-dashoffset var(--transition_duration_fast);
}

/* Sound svg for muted condition */
.sound_button.muted > .sound_svg > line {
    stroke-dashoffset: 0;
}


/* Theme palettes */
.theme_container {
    background-color: #e6e6e60c;
    backdrop-filter: blur(3px);
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transform: translateX(-1%);
    
    transition: 
        transform var(--transition_duration_fast),
        opacity var(--transition_duration_fast);
}

.theme_open {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
}

.theme_palette {
    background-color: var(--color_bg);
    height: 80%;
    width: calc(var(--cell_width) * 3.5);
    border: solid 0.1em var(--color_main);
    /* border-radius: var(--button_font_size); */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
}

.theme_top_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    width: 100%;
    padding: var(--theme_head_padding);
}

.theme_top_head > p {
    font-family: "Extrabold";
    font-size: var(--theme_head_font_size);
    color: var(--color_main);
}

.theme_top_head > svg {
    fill: var(--color_main);
    width: var(--theme_head_font_size);
    cursor: pointer;
}

.theme_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.theme_option {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: var(--theme_option_padding);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 0.5em;   
    font-family: "Regular";
    font-size: var(--button_font_size);
    color: var(--color_main);
    text-align: left;

    transition: 
        color var(--transition_duration_fast),
        background-color var(--transition_duration_fast);
}

.active_theme_option {
    background-color: var(--color_main);
    color: var(--color_bg);
}

.theme_indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--button_font_size) * 0.4); 
    padding: var(--theme_indicator_padding);
    border-radius: var(--button_border_radius);
}

.theme_indicator > span {
    width: var(--theme_indicator_dots_width);
    aspect-ratio: 1;
    border-radius: 50%;
}


:is(.restart_button, .theme_button, .sound_button, .mode_selection, .score_button):active {
    border-color: var(--color_main);
}






@media (width >=1000px) {
    :is(.restart_button, .theme_button, .sound_button, .mode_selection):hover {
        box-shadow: var(--button_box_shadow_offset) var(--color_main);
    }

    .theme_option:not(.active_theme_option):hover {
        background-color: var(--color_sub);
        transition: none;
    }
}