main {
    width: var(--main_width);
    margin: auto;
    min-height: 100vh;
    background-color: var(--color_bg);
    position: relative;
}

.fun_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: var(--button_padding);
    background-color: var(--color_sub);
    outline: none;
    border: var(--button_border);
    border-radius: var(--button_border_radius);
    font-family: "Medium";
    font-size: var(--button_font_size);
    color: var(--color_main);
    cursor: pointer;
}